.car {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px;
  justify-content: space-evenly;
  border: 4px;
  border-bottom: 2px;
  border-style: solid;
  padding-left: 40px;
  padding-right: 0px;
  border-color: aqua;
  animation-name: flash_border;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes flash_border {
  0% {
    border-color: red;
  }
  50% {
    border-color: aqua;
  }
  100% {
    border-color: red;
  }
}

.contain {
  width: 70vw;
  margin: auto;
  margin-top: 50px;
  background-color: rgb(2, 81, 87);
  color: white;
  margin-top: 25px;
}

.loading {
  display: flex;
  font-size: xx-large;
  /* background-image: url("https://cutewallpaper.org/24/animated-transparent-gif/gifs-for-grownups-colourverse.gif"); */
  background-image: url("https://media2.giphy.com/media/eiq7tzfbIaTfRWhmw4/giphy.gif?cid=ecf05e47sohhqt14wsqx2h2dowl3wkp9yjzir29kird6yfjx&rid=giphy.gif&ct=s");
  background-repeat: no-repeat;
  justify-content: center;
  height: 400px;
  background-position: center;
  
}

.divide {
  width: 20%;
}

.zoom {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  color: red;
}

.buttons {
  position: relative;
  right: 4%;
  width: 0px;
  margin-left: 0;
  margin-right: 20px;
}

.buttonUp {
  font-weight: bolder;
  background-color: rgba(0, 0, 255, 0);
  color: red;
  border: none;
  font-size: x-large;
  z-index: 5;
}

.buttonDown {
  font-weight: bolder;
  background-color: rgba(0, 0, 255, 0);
  color: red;
  border: none;
  font-size: x-large;
  z-index: 5;
}
