.car {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px;
  justify-content: space-evenly;
  border: 4px;
  border-bottom: 2px;
  border-style: solid;
  padding-left: 20px;
  padding-right: 20px;
  border-color: red;
  animation-name: flash_border;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: flash_border;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: flash_border;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
}

@keyframes flash_border {
  0% {
    border-color: red;
  }
  50% {
    border-color: aqua;
  }
  100% {
    border-color: red;
  }
}

@-webkit-keyframes flash_border {
  0% {
    border-color: red;
  }
  50% {
    border-color: aqua;
  }
  100% {
    border-color: red;
  }
}

@-moz-keyframes flash_border {
  0% {
    border-color: red;
  }
  50% {
    border-color: aqua;
  }
  100% {
    border-color: red;
  }
}


.contain {
  width: 70vw;
  margin: auto;
  margin-top: 50px;
  background-color: rgb(2, 81, 87);
  color: white;
  margin-top: 25px;
}

.loading {
  display: flex;
  font-size: xx-large;
  background-image: url("https://miro.medium.com/max/1400/1*CsJ05WEGfunYMLGfsT2sXA.gif");
  background-repeat: no-repeat;
  justify-content: center;
  height: 300px;
  background-position: center;
}

.divide {
  width: 20%;
}
