.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputForm {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height:min-content;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: blue;
    padding:30px;
    border-radius: 8%;
    color:red;
}

.box1 {
    justify-content: center;
    align-items: center;
    width: 12vw;
}

h2 {
    color: red;
    justify-content: center;
    align-items: center;
    display: flex;
}

.titleCar {
    font-size: xx-large;
    background-color: black;
}

.pushit {
    width: 80%;
    height: 40px;
}

input {
    width: 100%;
}