.Search {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 0;
  border-style: solid;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 0;
  height: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 10px;
  border-color: red;
  animation-name: flash_border;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: flash_border;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: flash_border;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
}

.typehere {
  width: 100%;
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
}
